.DS_Store
Thumbs.db


.vscode/


.cursorignore
.cursorindexingignore


.idea/


.cache/



__pycache__/
*.py[cod]
*$py.class


*.so



.streamlit/secrets.toml     # hide API keys/tokens
.streamlit/*.lock



.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


.pdm-python
.pdm-build/
__pypackages__/
.pixi/




data/*.zip
data/*.tar
data/*.tar.gz
data/*.rar


!data/LifeExpectancyData_CLEANED.csv



*.log
*.tmp
*.bak
pip-log.txt
pip-delete-this-directory.txt


.ipynb_checkpoints/



build/
dist/
downloads/
*.egg-info/
.eggs/
wheels/
share/python-wheels/
MANIFEST


.tox/
.nox/
.coverage
.coverage.*
*.cover
*.py.cover
htmlcov/
.pytest_cache/
.hypothesis/


/site     # mkdocs output
docs/_build/




reports/*.pdf
reports/*.docx
reports/*.pptx


*/__marimo__/
marimo/_static/
marimo/_lsp/
